<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Inscription à RoomFix confirmée</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
        }
    </style>
</head>

<body style="margin: 0; padding: 0;">

<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="#FDA50F" style="padding: 40px 0 30px 0; font-size: 45px">
            <strong style="color: white;">- ROOMFIX -</strong>
        </td>
    </tr>
    <tr>
        <td bgcolor="#F9F9F9" style="padding: 40px 30px 40px 30px;">
            <p>Bienvenue <span data-th-text="${mail}"></span>,</p>
            <p>Ton compte sur la plateforme RoomFix a bien été créé !</p>
        </td>
    </tr>
    <tr>
        <td bgcolor="#BDBDBD" style="padding: 30px 30px 30px 30px;" align="center">
            <a href="http://roomfix.k8s.pouretadev.com/login">
                <button style="
                background-color: #57A0D3;
                border: none;
                color: whitesmoke;
                padding: 1em 1.5em;
                text-align: center;
                text-decoration: none;
                font-size: 1em;">
                    <strong>CONNECTE TOI !</strong>
                </button>
            </a>
        </td>
    </tr>
</table>

</body>
</html>